/**COLORS**/
@font-face {
  font-family: Merienda;
  src: url(../font/Merienda-Bold.ttf); }

@font-face {
  font-family: Permanent;
  src: url(../font/PremanentMarker.ttf); }

@font-face {
  font-family: Libre;
  src: url(../font/LibreBaskerville-Bold.ttf); }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  padding: 2rem; }

.m-right-small {
  margin-right: 2rem; }

.m-right-medium {
  margin-right: 4rem; }

.m-right-large {
  margin-right: 8rem; }

.m-right-huge {
  margin-right: 12rem; }

.m-bottom-small {
  margin-bottom: 2rem; }

.p-bottom-small {
  padding-bottom: 2rem; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.d-grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%; }

@keyframes rotateBlock {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(0); }
  40% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(180deg); }
  80% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(to right, rgba(31, 28, 44, 0.6), rgba(146, 141, 171, 0.6)), url(../img/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 40rem;
  box-sizing: border-box;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 6rem;
    left: 6rem;
    width: 70px;
    height: 70px; }
  .header__logo-img {
    width: 100%;
    height: 100%;
    filter: blur(1); }

.footer {
  padding: 5rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }
  .footer__logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 5rem; }
  .footer__content {
    display: flex;
    justify-content: space-between; }
  .footer__block {
    width: 45%; }
  .footer__nav-list {
    list-style: none; }
  .footer__nav-item {
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .4s;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); }
    .footer__nav-item:hover {
      background-color: rgba(0, 0, 0, 0.7);
      transform: translateY(-1rem);
      width: 130px; }
  .footer__nav-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .5rem 1rem;
    cursor: pointer; }
    .footer__nav-link:link, .footer__nav-link:visited {
      text-decoration: none; }
  .footer__text {
    font-size: 1.8rem;
    text-align: left;
    color: #fff; }
  .footer__link {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    display: inline-block; }
    .footer__link:hover {
      transform: scale(1.3) translateY(-1rem);
      background: #480048;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      padding: .5rem 2rem;
      text-transform: uppercase; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2.4rem;
  font-family: Merienda;
  text-align: center;
  display: inline-block;
  padding: .6rem 2.4rem;
  border-radius: 40px;
  text-transform: uppercase;
  color: white;
  transition: all .4s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 100;
  cursor: pointer; }

.btn::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  transition: all .4s ease-out; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }
  .btn:hover::before {
    transform: scaleX(1.5) scale(1.3);
    opacity: 0; }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.7); }

.btn:active, .btn:focus {
  outline: none; }

.btn--darkblue {
  background-image: linear-gradient(to right, rgba(81, 74, 157, 0.7), rgba(192, 72, 72, 0.7)); }
  .btn--darkblue::before {
    background-image: linear-gradient(to right, rgba(72, 0, 72, 0.1), rgba(36, 198, 220, 0.1)); }

.btn--cold {
  background-image: radial-gradient(#b9fcf3, #514a9d); }
  .btn--cold::before {
    background-image: radial-gradient(rgba(185, 252, 243, 0.1), rgba(81, 74, 157, 0.1)); }

.btn--hot {
  background-image: radial-gradient(#def86b, #c04848); }
  .btn--hot::before {
    background-image: radial-gradient(rgba(222, 248, 107, 0.1), rgba(192, 72, 72, 0.1)); }

.btn--green {
  background-image: radial-gradient(#acbb78, #799f0c); }
  .btn--green::before {
    background-image: radial-gradient(rgba(172, 187, 120, 0.15), rgba(121, 159, 12, 0.15)); }

.btn--arrow {
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 10% 50%);
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 10% 50%);
  background: #aa4b6b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 3rem; }

.btn--next {
  font-family: Permanent sans-serif;
  background: #d3cce3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3cce3, #e9e4f0); }

.about__content {
  display: flex;
  min-height: 600px; }

.about__img-block, .about__topic {
  width: 50%;
  height: 100%;
  box-sizing: border-box; }

.about__img-block {
  padding-left: 12rem;
  position: relative;
  animation: rotateBlock 5s ease-in-out infinite;
  animation-fill-mode: forwards; }
  .about__img-block:hover {
    animation-play-state: paused; }

.about__img {
  width: 80%;
  height: 80%;
  transition: all .5s;
  border: 1px solid red; }
  .about__img--1 {
    clip-path: polygon(20% 30%, 70% 10%, 100% 70%, 10% 100%);
    -webkit-clip-path: polygon(20% 30%, 70% 10%, 100% 70%, 10% 100%); }
  .about__img--2 {
    transform: rotate(-2deg) translateY(-3rem);
    clip-path: polygon(80% 70%, 30% 90%, 0 30%, 90% 0);
    -webkit-clip-path: polygon(80% 70%, 30% 90%, 0 30%, 90% 0); }
  .about__img--1:hover {
    transform: translate(-8rem, 6rem); }
  .about__img--2:hover {
    transform: translate(9rem, -9rem) rotate(-2deg); }

.about__topic {
  padding-top: 5rem;
  font-size: 2.2rem; }

.about__title {
  font-size: 6rem;
  font-family: Permanent;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-weight: 700;
  text-transform: capitalize; }

.about__text {
  margin-bottom: 3rem;
  padding-right: 3rem;
  color: rgba(0, 0, 0, 0.7); }

.card {
  width: 320px;
  min-height: 400px;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  position: relative; }
  .card img {
    width: 100%;
    height: 50%;
    margin-bottom: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card__info {
    width: 100%;
    height: 50%; }
  .card__price {
    font-size: 3rem;
    color: #ff4640;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-left: 1.3rem; }
  .card__duration {
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-left: 10rem; }
  .card__title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: Merienda;
    padding-left: 1.3rem;
    text-indent: -1.3rem; }
  .card__overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .8s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card__overflow--cold {
      background-image: linear-gradient(-45deg, #514a9d 30%, #24c6dc 50%, transparent); }
    .card__overflow--hot {
      background-image: linear-gradient(-45deg, #ff512f 30%, #f09819 50%, transparent); }
    .card__overflow--green {
      background-image: linear-gradient(-45deg, #799f0c 30%, #acbb78 60%, transparent); }
  .card:hover .card__overflow {
    visibility: visible;
    opacity: 1; }

.testimonial {
  font-size: 1.6rem;
  color: #777;
  position: relative;
  width: 60%;
  margin-bottom: 5rem; }
  .testimonial__left {
    margin-left: 0; }
  .testimonial__right {
    margin-left: 30%; }
  .testimonial__left .testimonial__img-block {
    top: -40px;
    left: -100px; }
  .testimonial__left .testimonial__text {
    padding-left: 10rem; }
  .testimonial__right .testimonial__img-block {
    top: -60px;
    right: -170px; }
  .testimonial__right .testimonial__text {
    padding-right: 10rem; }
  .testimonial__img-block {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    position: absolute; }
  .testimonial__img {
    width: 120%;
    height: 100%; }
  .testimonial__text {
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    text-indent: 2ch;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px; }

.form {
  padding: 2rem;
  width: 80%;
  font-size: 2.4rem;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto; }
  .form__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .form__group {
    padding: 1rem;
    width: 90%;
    position: relative;
    margin: 0 auto 2rem; }
  .form__input {
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    border-bottom: 2px solid transparent;
    font-size: 1.6rem;
    border: none; }
    .form__input::placeholder {
      font-size: 1.6rem;
      color: #777; }
    .form__input:focus {
      outline: none;
      border-bottom: 2px solid #799f0c; }
      .form__input:focus:invalid {
        border-bottom: 2px solid #ff512f; }
    .form__input:placeholder-shown + label {
      transform: translateY(0);
      visibility: hidden;
      opacity: 0; }
  .form__input-label {
    position: absolute;
    top: 2rem;
    left: 3rem;
    transition: all .4s;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    transform: translateY(-2.9rem);
    visibility: visible;
    opacity: 1;
    transition: all .4s; }
  .form__radio-group {
    display: inline-block;
    width: 46%;
    cursor: pointer;
    margin-bottom: 3rem; }
  .form__radio {
    display: none; }
  .form__radio:checked ~ .form__radio-label > .form__radio-btn::after {
    opacity: 1; }
  .form__radio-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4.5px solid #fff;
    display: inline-block;
    box-sizing: border-box;
    transform: translateY(2px); }
    .form__radio-btn::after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #eee;
      opacity: 0;
      transition: opacity .2s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .form__radio-label {
    font-size: 2.6rem;
    letter-spacing: 2px;
    cursor: pointer; }

.section-about {
  width: 100%;
  padding: 3rem;
  background-color: #eeeeee;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 110%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }

.popular-tours {
  width: 100%;
  padding: 7rem 4rem 0;
  box-sizing: border-box;
  text-align: center; }

.tours__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem; }

.section-make-happy {
  padding: 12rem;
  background-color: #eee;
  min-height: 500px;
  margin-top: 7rem;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }

.booking {
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  margin-top: -15rem;
  padding: 25rem;
  color: #fff;
  font-size: 2rem;
  background-image: linear-gradient(to left, rgba(31, 28, 44, 0.6), rgba(146, 141, 171, 0.6)), url(../img/form.jpg); }

.box > p {
  text-indent: 1rem;
  font-family: Merienda;
  padding: 1rem; }
