@font-face {
	font-family: Merienda;
	src: url(../font/Merienda-Bold.ttf);
}

@font-face {
	font-family: Permanent;
	src: url(../font/PremanentMarker.ttf);
}

@font-face {
	font-family: Libre;
	src: url(../font/LibreBaskerville-Bold.ttf);
}