/**COLORS**/
$color-cove-dark: #130f40;
$color-purple-light: #4834d4;

$color-orange: #ff512f;
$color-oran-yellow: #f09819;

$color-green-dark:#799f0c;
$color-green-light: #acbb78;
 


$color-bg-influenze-1: #c04848;
$color-bg-influenze-2: #480048;

$color-bg-mantle-1: #24c6dc;
$color-bg-mantle-2: #514a9d;

$color-bg-steelGray-1: #1f1c2c; 
$color-bg-steelGray-2: #928dab;

$color-black: #000;

$color-red: rgb(255, 70, 64);