.about {

	&__content {
		display: flex;
		min-height: 600px;
	}

	&__img-block,
	&__topic {
		width: 50%;
		height: 100%; 
		box-sizing: border-box;
	}

	&__img-block {
		padding-left: 12rem;
		position: relative;

		animation: rotateBlock 5s ease-in-out infinite;
		animation-fill-mode: forwards;

		&:hover {
			animation-play-state: paused;
		}
	}


	&__img {
		width: 80%;
		height: 80%;
		transition: all .5s;
		border: 1px solid red;


		&--1 {
			clip-path: polygon(20% 30%, 70% 10%, 100% 70%, 10% 100%);
			-webkit-clip-path: polygon(20% 30%, 70% 10%, 100% 70%, 10% 100%);
		}
		&--2 {
			transform: rotate(-2deg) translateY(-3rem);
			clip-path: polygon(80% 70%, 30% 90%, 0 30%, 90% 0);
			-webkit-clip-path: polygon(80% 70%, 30% 90%, 0 30%, 90% 0);
		}

		&--1:hover {
			transform: translate(-8rem, 6rem) ;
		}
		&--2:hover {
			transform: translate(9rem, -9rem) rotate(-2deg);
		}
	}

	&__topic {
		padding-top: 5rem;
		font-size: 2.2rem;
	}

	&__title {
		font-size: 6rem;
		font-family: Permanent;
		letter-spacing: 2px;
		margin-bottom: 4rem;
		margin-top: 2rem;
		font-weight: 700;
		text-transform: capitalize;
	}

	&__text {
		margin-bottom: 3rem;
		padding-right: 3rem;
		color: rgba($color-black, .7);
	}
}