.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		font-size: 3rem;
		font-family: Merienda;
		text-align: center;
		display: inline-block;
		padding: .6rem 2.4rem;
		border-radius: 40px;
		text-transform: uppercase;
		color: white;
		transition: all .4s;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
		position: relative;
		z-index: 100;
		cursor: pointer;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 40px;
		transition: all .4s ease-out;

	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);

		&::before {
			transform: scaleX(1.5) scale(1.3);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(0);
		box-shadow: 0 .4rem .6rem rgba(0, 0, 0, .7);
	}

	&:active,
	&:focus {
		outline: none;
	}


	&--darkblue {
		background-image: linear-gradient(
			to right,
			rgba($color-bg-mantle-2, .7),
			rgba($color-bg-influenze-1, .7)
		);

		&::before {
			background-image: linear-gradient(
			to right,
			rgba($color-bg-influenze-2, .1),
			rgba($color-bg-mantle-1, .1)
			);
		}
	}

	&--cold {
		background-image: radial-gradient(rgb(185, 252, 243), $color-bg-mantle-2);

		&::before {
			background-image: radial-gradient(rgba(185, 252, 243, .1), rgba($color-bg-mantle-2, .1));
		}
	}

	&--hot {
		background-image: radial-gradient(rgb(222, 248, 107),$color-bg-influenze-1);

		&::before {
			background-image: radial-gradient(rgba(222, 248, 107, 0.1), rgba($color-bg-influenze-1, .1));
		}
	}

	&--green {
		background-image: radial-gradient($color-green-light, $color-green-dark);

		&::before {
			background-image: radial-gradient(rgba($color-green-light, 0.15), rgba($color-green-dark, .15));
		}
	}

}